/* Polices */
@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("./fonts/Shrikhand-Regular.ttf");
  src: url("./fonts/Shrikhand-Regular.ttf") format("truetype");
}
/* variables */
/* Mixin */
.button__menu--title {
  padding: 8px 8px 0 8px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.button__menu--title h4, .button__menu--title p {
  font-size: 14px;
  margin: 0;
  padding: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button__menu--price p {
  margin: 32px 0 0 5px;
  padding: 8px;
  width: 100%;
}

/*Keyframes*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  85%, 100% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
    visibility: hidden;
  }
}
@keyframes heart-main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation_check--1 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 20%;
  }
}
@keyframes animation_check--2 {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@keyframes anim-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*body*/
body {
  box-sizing: border-box;
  font-family: "roboto";
}
body a:visited {
  color: black;
}
body a {
  text-decoration: none;
}
body .__button {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 60px;
  padding: 0 20px 0px 20px;
  margin: 20px 0 30px 0;
  box-shadow: 6px 6px 8px lightgray;
  transform: scale(1);
  transition: transform 900ms;
}
body .__button a {
  color: white;
}
body .__button:hover {
  opacity: 0.9;
  box-shadow: 8px 8px 10px lightgray;
  transform: scale(1.1);
}

/*header*/
header {
  display: flex;
  align-items: center;
}
header img {
  padding: 15px;
}
header .fa {
  padding: 15px 0 15px 15px;
  font-size: 30px;
}
header .__back {
  width: 35%;
}

#header__main {
  justify-content: center;
}

/*Sections page accueil*/
.top-section .__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 0 1px 3px lightgray inset;
}
.top-section .__location .fa {
  padding: 15px;
}
.top-section .__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  background-color: whitesmoke;
}
.top-section .__description h1 {
  font-size: large;
}
.top-section .__description > p {
  margin: 0 0 15px 0;
  font-size: medium;
  color: dimgray;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 35px 0 35px 30px;
}
aside h3 {
  align-self: flex-start;
  font-size: 25px;
  width: 90%;
}
aside .__step {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  background-color: #f7f5f5;
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 25px;
  margin: 15px;
  padding: 10px 5px 10px 5px;
}
aside .__step .fa {
  font-size: 20px;
  color: grey;
  padding: 15px;
}
aside .__step:hover {
  background-color: #f5edffff;
  box-shadow: 5px 5px 5px #CECECE;
}
aside .__step:hover .fa {
  color: #9356DC;
}
aside .__step--number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
  font-size: 13px;
  padding: 4px 7px 4px 7px;
  width: 10px;
  margin-left: -15px;
}

.restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f7f5f5;
  padding-bottom: 30px;
}
.restaurant h3 {
  align-self: flex-start;
  font-size: 25px;
  padding: 30px 0 0 30px;
  width: 90%;
  margin-bottom: 10px;
}
.restaurant .__cards {
  width: 40%;
  height: 270px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px lightgrey;
  margin: 30px;
  position: relative;
  transform: scale(1);
  transition: transform 700ms;
}
.restaurant .__cards:hover {
  transform: scale(1.1);
}
.restaurant .__cards a {
  width: 100%;
}
.restaurant .__cards--img {
  height: 75%;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}
.restaurant .__cards--img img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.restaurant .__cards--body {
  display: flex;
  justify-content: space-between;
  height: 25%;
}
.restaurant .__cards--description {
  width: 80%;
  padding: 10px 15px 15px 15px;
  color: black;
}
.restaurant .__cards--description h4, .restaurant .__cards--description p {
  margin: 0 0 5px 0;
}
.restaurant .__cards--icone {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  font-size: 25px;
}
.restaurant .__cards--icone .fa-regular {
  padding: 15px;
  position: absolute;
  color: black;
}
.restaurant .__cards--icone .fas {
  position: relative;
  right: 15px;
  opacity: 0;
  color: #9356DC;
}
.restaurant .__cards--icone .fas:hover {
  animation: heart-main 600ms ease-in-out forwards;
}

.new {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #01664c;
  right: 1em;
}

footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}
footer > p {
  font-family: "shrikhand";
  font-size: large;
}
footer p {
  padding: 6px;
  margin: 0px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .fa-solid {
  padding-right: 12px;
}
footer .fa {
  padding-right: 6px;
}
footer a {
  color: white;
}

/*Sections pages menus*/
.top-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}
.main h3 {
  margin: 15px;
}

.title__menu {
  display: flex;
  background-color: whitesmoke;
  font-family: "shrikhand";
  font-size: small;
  margin-top: -3rem;
  padding: 15px 0 0 0;
  border-radius: 35px 35px 0 0;
  width: 100%;
}
.title__menu h1 {
  width: 95%;
  padding-left: 10px;
}
.title__menu .title__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  font-size: x-large;
  padding: 5px 20px 15px 15px;
}
.title__menu .title__icon .fa-regular {
  position: absolute;
}
.title__menu .title__icon .fas {
  opacity: 0;
  color: #9356DC;
}
.title__menu .title__icon .fas:hover {
  animation: heart-main 600ms ease-in-out forwards;
}

.first, .second {
  margin: 20px 0 20px 0;
  width: 50%;
}

.button__menu {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 6px gainsboro;
  margin: 20px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.third {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.third h3 {
  width: 90%;
}
.third .button__menu {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 6px gainsboro;
  margin: 20px;
  border-radius: 15px;
  background-color: white;
  width: 28%;
  margin: auto;
}

span {
  border-bottom: 3px solid #99E2D0;
}

/* Animations apparition boutons*/
.anim-button--1 {
  animation: anim-button 700ms linear backwards;
  animation-delay: 300ms;
}

.anim-button--2 {
  animation: anim-button 700ms linear backwards;
  animation-delay: 700ms;
}

.anim-button--3 {
  animation: anim-button 700ms linear backwards;
  animation-delay: 1300ms;
}

.button {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 60px;
  padding: 0 20px 0px 20px;
  margin: 20px 0 30px 0;
  box-shadow: 6px 6px 8px lightgray;
  transform: scale(1);
  transition: transform 900ms;
  align-self: center;
  height: 50px;
  width: 150px;
  margin: 50px auto 60px auto;
}
.button a {
  color: white;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 8px 8px 10px lightgray;
  transform: scale(1.1);
}

/* Animation check boutons*/
.animation--check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #99E2D0;
  opacity: 0;
}
.animation--check .fa-regular {
  color: white;
  font-size: xx-large;
}

.anim-container {
  display: flex;
  width: 100%;
}

.button__menu:hover .animation--check {
  animation: animation_check--1 400ms linear forwards;
}

.button__menu:hover .anim-container {
  animation: animation_check--2 400ms linear backwards;
  width: 80%;
}

.button__menu .fa-regular {
  transform: rotate(0deg);
  transition: transform 600ms ease-out;
}

.button__menu:hover .fa-regular {
  transform: rotate(360deg);
}

/*Loader*/
.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: loader 4s forwards ease-in-out;
  animation-delay: 1s;
  border-bottom: none;
}

.loader-double {
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-radius: 50px;
  animation: spin 3s linear infinite;
  width: 50px;
  height: 50px;
  display: block;
}

.loader-double::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 50px;
  animation: spin 3s linear infinite;
}

.loader-double::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 50px;
  animation: spin-reverse 1s linear infinite;
}

.loader-double--2 {
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-radius: 600%;
  animation: spin-reverse 3s linear infinite;
  width: 150px;
  height: 150px;
  display: block;
}

.loader-double--2::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 600%;
  animation: spin-reverse 3s linear infinite;
}

.loader-double--2::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 600%;
  animation: spin 1s linear infinite;
}

/*# sourceMappingURL=style.css.map */
