/* Polices */
@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Bold-webfont.eot');
    src: url('./fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('./fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('./fonts/Roboto-Bold-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhand';
    src: url('./fonts/Shrikhand-Regular.ttf');
    src: url('./fonts/Shrikhand-Regular.ttf') format('truetype');
}

/* variables */

$primary_color:#9356DC;
$secondary_color:#FF79DA;
$tertiary_color:#99E2D0;

/* Mixin */

@mixin display_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, $secondary_color, $primary_color);
    border-radius: 60px;
    padding: 0 20px 0px 20px;
    margin: 20px 0 30px 0;
    a{
        color: white;
    }
}

@mixin button-menu{
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 6px gainsboro;
    padding: 8px;
    margin: 20px;
    border-radius: 15px;
    background-color: white;
    }
    .button__menu--title{
        width: 80%;
        & h4, p{
            font-size: 14px;
            margin: 0;
            padding: 3px;
        }
    }
    .button__menu--price p{
        margin: 32px 0 0 5px;
    }

/*body*/

body{
    box-sizing: border-box;
    font-family: 'roboto';
    & a:visited{
        color: black;
    }
    & a{
        text-decoration: none;
    }
    .__button{
        @include button;
    }
}

/*header*/

header{
    display: flex;
    align-items: center;
    & img{
        padding: 15px;
        }
        & .fa{
            padding: 15px 0 15px 15px;
            font-size: 30px;
        }
        & .__back{
            width: 35%;
        }
    }

#header__main{
    justify-content: center;
}

/*Sections page accueil*/

.top-section{
    & .__location{
        @include display_center;
        background-color: #EFEFEF;
        font-weight: bold;
        font-size: 1.5em;
        box-shadow: 0 1px 3px lightgray inset;
        & .fa{
            padding: 15px;
        }
    }
    & .__description{
        @include display_center;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        background-color: whitesmoke;
        & h1{
            font-size: large;
        }
        & > p{
            margin: 0 0 15px 0;
            font-size: medium;
            color: dimgray;
        }
    }
}

aside{
    @include display_center;
    flex-wrap: wrap;
    width: 90%;
    padding: 35px 0 35px 30px;
    & h3{
        align-self: flex-start;
        font-size: 25px;
        width: 90%;
    }
    & .__step{
        display: flex;
        justify-content: flex-start;
        width: 30%;
        background-color: #f7f5f5;
        box-shadow: 5px 5px 5px lightgrey;
        border-radius: 25px;
        margin: 15px;
        padding: 10px 5px 10px 5px;
        & .fa{
            font-size: 20px;
            color: grey;
            padding: 15px;
        }
        &:hover{
            background-color: #f5edffff;
            box-shadow: 5px 5px 5px #CECECE;
            .fa{
                color: $primary_color
            }
        }
    }
    & .__step--number{
        @include display_center;
        color: white;
        background-color: $primary_color;
        border-radius: 25px;
        font-size: 13px;
        padding: 4px 7px 4px 7px;
        width: 10px;
        margin-left: -15px;
    }
}

.restaurant{
    @include display_center;
    flex-wrap: wrap;
    background-color: #f7f5f5;
    padding-bottom: 30px;
    & h3{
        align-self: flex-start;
        font-size: 25px;
        padding: 30px 0 0 30px;
        width: 90%;
        margin-bottom: 10px;
    }
    & .__cards{
        width: 40%;
        height: 270px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 2px 2px 6px lightgrey;
        margin: 30px;
    }
    & .__cards--img{
        height: 75%;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;
        & img{
            object-fit: cover;
            width: 100%;
            height: 200px;
        }
    }
    & .__cards--body{
        display: flex;
        justify-content: space-between;
        height: 25%;
    }
        .__cards--description{
                width: 50%;
                padding: 10px 15px 15px 15px ;
            & h4, & p{
                margin: 0 0 5px 0;
        }
    }
        .__cards--icone{
            @include display_center;
            justify-content: flex-end;
            width: 40%;
            font-size: 20px;
            & .fa{
                padding: 15px;
            }
    
        }
}

footer{
    background-color: dimgray;
    color: white;
    padding: 15px;
    & > p{
        font-family: 'shrikhand';
        font-size: large;
    }
    & p{
        padding: 6px;
        margin: 0px;
    }
    & ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    & .fa-solid{
        padding-right: 12px;
    }
    & .fa{
        padding-right: 6px;
    }
    & a{
        color: white;
    }
}

/*Sections pages menus*/

.top-img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 250px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    & h3{
        margin: 15px
    }
}

.title__menu{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    font-family: 'shrikhand';
    font-size: small;
    margin-top: -3rem;
    padding: 15px 0 0 0;
    border-radius: 20px 20px 0 0;
    width: 100%;
    & .fa{
        align-self: center;
        font-size: large;
        padding: 20px;
    }
    & h1{
        padding-left: 15px;
    }
}

.first, .second{
    margin: 20px 0 20px 0;
    width: 50%;
}

.button__menu{
    @include button-menu;
}

.third{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & h3{
        width: 90%
    }
    & .button__menu{
        @include button-menu;
        width: 28%;
        margin: auto;
    }
}


span{
    border-bottom: 3px solid $tertiary_color;
}

.button{
    @include button;
    align-self: center;
    height: 50px;
    width: 150px ;
    margin: 50px auto 60px auto;
}


