/* Polices */
@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Bold-webfont.eot');
    src: url('./fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('./fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('./fonts/Roboto-Bold-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhand';
    src: url('./fonts/Shrikhand-Regular.ttf');
    src: url('./fonts/Shrikhand-Regular.ttf') format('truetype');
}

/* variables */

$primary_color:#9356DC;
$secondary_color:#FF79DA;
$tertiary_color:#99E2D0;

/* Mixin */

@mixin display_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, $secondary_color, $primary_color);
    border-radius: 60px;
    padding: 0 20px 0px 20px;
    margin: 20px 0 30px 0;
    a{
        color: white;
    }
}

/*body*/

body{
    box-sizing: border-box;
    font-family: 'roboto';
    & a:visited{
        color: black;
    }
    & a{
        text-decoration: none;
    }
}

/*header*/

header{
    @include display_center;
    border-bottom: 1px solid lightgray;
    & img{
        padding: 15px 15px 15px 25px;
        }
        & .fa{
            padding: 15px 0 15px 15px;
            font-size: 30px;
        }
        & .__back{
            width: 35%;
        }
    }

#header__main{
    justify-content: center;
}

/*Sections*/

.top-section{
    & .__location{
        @include display_center;
        background-color: #EFEFEF;
        font-weight: bold;
        font-size: 1.5em;
        box-shadow: 0 1px 3px lightgray inset;
        & .fa{
            padding: 15px;
        }
    }
    & .__description{
        @include display_center;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        background-color: whitesmoke;
        & h1{
            font-size: large;
        }
        & > p{
            margin: 0 0 15px 0;
            font-size: medium;
            color: dimgray;
        }
        & .__button{
            @include button;
        }
    }
}

aside{
    @include display_center;
    flex-wrap: wrap;
    width: 95%;
    & h3{
        align-self: flex-start;
        margin-left: 15px;
        font-size: 25px;
        width: 100%;
    }
    & .__step{
        display: flex;
        justify-content: flex-start;
        width: 30%;
        background-color: #f7f5f5;
        box-shadow: 5px 5px 5px lightgrey;
        border-radius: 25px;
        margin: 15px;
        padding: 10px 5px 10px 5px;
        & .fa{
            font-size: 20px;
            color: grey;
            padding: 15px;
        }
        &:hover{
            background-color: #f5edffff;
            box-shadow: 5px 5px 5px #CECECE;
            .fa{
                color: $primary_color
            }
        }
    }
    & .__step--number{
        @include display_center;
        color: white;
        background-color: $primary_color;
        border-radius: 25px;
        font-size: 13px;
        padding: 4px 7px 4px 7px;
        width: 10px;
        margin-left: -15px;
    }
}
