@media (max-width: 992px){
    header{
        & .fa{
            font-size: 25px;
        }
        & .__back{
            width: 25%;
        }
    }

    .top-section{
        & .__location{
            font-weight: 600;
            font-size: 1.2em;
        }
    }

    aside{
        flex-direction: column;
        & .__step{
            width: 85%;
        }
    }
}

@media (max-width: 768px){
    header{ 
        & img{
        width: 50%;
        }
        & .fa{
            padding: 15px 0 15px 15px;
            font-size: 15px;
        }
    }

    .top-section{
        & .__location{
            font-weight: 500;
            font-size: 1em;
        }
    }
}